/*----------------------------------------  Custom properties */
:root {
    /* ------------------------------ Colors */
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
}

/*---------------------------------------- Global styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 100%;
    min-height: 100vh;
}

img, picture {
    display: block;
    max-width: 100%;
}